@using Kendo.Mvc.UI

<div class="container-fluid">
   <div class="row">
      <div class="col-md-5 control-label text-right">
         @Html.Label("Stock take location")
      </div>
      <div class="col-md-7">
         @(
   Html.Kendo().DropDownList().Name("StockTakeLocation")
      .DataTextField("Text").DataValueField("Value")
      .DataSource(ds => ds.Read("GetStockLocations", "StockLocations"))
      .Events(events => events.DataBound("onStockTakeLocationDataBound"))
    .HtmlAttributes(new { @class = "page-input"})
              )
      </div>
   </div>
   <div class="row row-buffer text-right pull-right">
      <div class="col-lg-12">
         <button type="button" class="k-button k-primary" id="selectLocation">Select</button>
         <button type="button" class="k-button" id="closeWindow">Cancel</button>
      </div>
   </div>
</div>

<style>
   .page-input {
      width: 100% !important;
   }

   .row-buffer {
      margin-top: 1em;
   }
</style>