@using Kendo.Mvc.UI
@model dynamic

@{
   ViewBag.Title = "HealthTrack web diagnostics";
}

<h2>Diagnostics</h2>

<div id="alertPlaceholder">@ViewBag.Message</div>

@using (Html.BeginForm("TestAntiForgeryToken", "Diagnotics", FormMethod.Post))
{
@Html.AntiForgeryToken()
   <input type="submit" value="Test Anti Forgery Token" />
}
