/*
   Wednesday, 8 July 201510:53:51 AM
   User: 
   Server: DEV-NEIL
   Database: HealthTrack_Web
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE Inventory.StockTakeItem SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE Inventory.Consumption SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE Inventory.Stock SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE Inventory.StockTakeAdjustment
	(
	StockTakeAdjustmentId int NOT NULL IDENTITY (1, 1),
	StockTakeItemId int NOT NULL,
	PreviousStockLevel int NOT NULL,
	NewStockLevel int NOT NULL,
	Adjustment int NOT NULL,
	ProcessedOn datetime NOT NULL,
	StockSurplusEntryId int NULL,
	StockWriteOffId int NULL
	)  ON [PRIMARY]
GO
ALTER TABLE Inventory.StockTakeAdjustment ADD CONSTRAINT
	PK_StockTakeAdjustment PRIMARY KEY CLUSTERED 
	(
	StockTakeAdjustmentId
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE Inventory.StockTakeAdjustment ADD CONSTRAINT
	FK_StockTakeAdjustment_StockTakeItem FOREIGN KEY
	(
	StockTakeItemId
	) REFERENCES Inventory.StockTakeItem
	(
	StockTakeItemId
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE Inventory.StockTakeAdjustment ADD CONSTRAINT
	FK_StockTakeAdjustment_Consumption FOREIGN KEY
	(
	StockWriteOffId
	) REFERENCES Inventory.Consumption
	(
	ConsumptionId
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE Inventory.StockTakeAdjustment ADD CONSTRAINT
	FK_StockTakeAdjustment_Stock FOREIGN KEY
	(
	StockSurplusEntryId
	) REFERENCES Inventory.Stock
	(
	StockId
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE Inventory.StockTakeAdjustment SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
