BEGIN TRANSACTION
IF not EXISTS(SELECT * 
FROM sys.indexes 
WHERE name='IX_Stock_IsNegative' AND object_id = OBJECT_ID('Inventory.Stock'))
BEGIN
CREATE NONCLUSTERED INDEX IX_Stock_IsNegative ON Inventory.Stock
	(
	IsNegative
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
ALTER TABLE Inventory.Stock SET (LOCK_ESCALATION = TABLE)
PRINT N'IX_Stock_IsNegative Created';  
END
COMMIT
