/*
   Monday, 6 July 20154:38:24 PM
   User: 
   Server: devdaniel
   Database: HealthTrack_Web
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE Inventory.Category
	DROP CONSTRAINT DF_Inventory_Category_Deleted
GO
ALTER TABLE Inventory.Category
	DROP CONSTRAINT Unique_CategoryName_ParentId
GO
ALTER TABLE Inventory.Category ADD CONSTRAINT
	Unique_CategoryName_ParentId UNIQUE NONCLUSTERED 
	(
	CategoryName,
	ParentId,
	DeletedOn
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE Inventory.Category
	DROP COLUMN Deleted
GO
ALTER TABLE Inventory.Category SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
